<div class="container">

    <h1>SRR Monitor</h1>

    <div class="row">
        <div class="col-md-3" *ngFor="let rig of rigs | async">
            <div [ngClass]="rig.state>0 ? 'panel panel-success' : 'panel panel-danger'">

                <div class="panel-heading">
                    <h3 class="panel-title">{{ rig.slot }} - {{ rig.name }}</h3>
                </div>
                <div class="panel-body">
                    <p>{{rig.description}}</p>
                    <p>{{rig.state}}</p>
                    <p>{{rig.keep_alive}}</p>
                </div>
                <div class="panel-footer">
                    <button *ngIf="rig.state>0" (click)="srr_command('turn_off', rig.slot, rig._id)" type="button" class="btn btn-default pull-right">Turn Off</button>
                    <button *ngIf="rig.state==0" (click)="srr_command('turn_on', rig.slot, rig._id)" type="button" class="btn btn-default pull-right">Turn On</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reset
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" (click)="srr_command('fast_reset', rig.slot, rig._id)">Fast Reset</a></li>
                        <li><a href="#" (click)="srr_command('long_reset', rig.slot, rig._id)">Long Reset</a></li>
                    </ul>
                </div>
            </div>

        </div>
        
    </div>

</div>
